.block-background .background {
    width: 10px !important;
    height: 10px !important;
    float: left;
}

.background {
    background: pink;
    display: table-cell;
    color: white;
    padding: 10px;
    width: 500px;
    height: 300px;
    border-radius: 8px;
    vertical-align: middle;
    text-align: center;
    font-size: 27px;
    line-height: 33px;
}

.blue {
    background-image: linear-gradient(#cacaff, #8e8eff);
}

.red {
    background: linear-gradient(#ffeded, #ffb9b9);
}

.pink {
    background: linear-gradient(#ffb8b8, #ff4d4d);
}

.rose {
    background: url(img/rose.png);
    color: white;
    text-shadow: 2px 3px 10px #000;
}

.rose2 {
    background: url(img/rose2.jpg);
    color: white;
    text-shadow: 2px 3px 10px #000;
}

.candy {
    background: url(img/candy.jpg);
    color: white;
    text-shadow: 2px 3px 10px #000;
}